*
!.gitignore

!.zshrc
!.zprofile
!.zsh

!.zsh/zsh-autocomplete

!.gitconfig
!.gitmodules

# .config

!.config

!.config/wezterm
!.config/wezterm/wezterm.lua

!.config/starship.toml

!.config/lazygit
!.config/lazygit/config.yml

!.config/nvim
!.config/nvim/lua
!.config/nvim/lua/**
!.config/nvim/init.lua

!.config/bat
!.config/bat/config
